## 1. 關於運算

In [1]:
1 + 1

### 要怎麼記下這個結果呢?
    我們使用變數 :

In [2]:
result = 1 + 1

In [3]:
result

2

In [4]:
result + 2

4

### 賦值運算
    result就是我們使用的變數，可以用來記錄任何運算結果，而等號 = 在這裡並非相等的意思，而是一種"指派"的動作，這會將等號右邊的值指派給左邊，也就是將result儲存2

## 2. 關於變數

  變數就好比一個容器，能夠儲存各式運算結果，但是變數的命名仍不能隨便亂取，要遵從以下規則 :
1. 以底線或英文字母開頭自符
2. 以底線、英文字母和數字為後續自符
3. 不可與保留字相同
4. 大小寫有別
    
第一點和第二點很好理解，而所謂的保留字是指在Python語言中已經具有意義的字，若是使用這些字做變數，會使編譯器產生混淆，產生錯誤。
    
首先看下面的例子，都是合法命名 : 

        result
       _result
       result_2
       Result_2
而以下變數是不合法的 :

       $result
       2_result
       for

#### 為了讓變數的用途一眼就看懂，變數的命名方法就很重要，詳細資訊見下方連結
[程式基礎概念─變數命名規則](https://ithelp.ithome.com.tw/articles/10108301)

## 3. 資料型態

### 3.1 整數與浮點數
    來看一下整數運算的例子 :

In [5]:
2 - 3

-1

In [6]:
2 * 3

6

In [7]:
6 / 4

1.5

In [8]:
6 % 4

2

In [9]:
2 ** 6

64

  上例示範了如何做減法(-)、乘法(*)、除法(/)、取餘數(%)和指數運算( $2**6$ 代表 2 的 6 次方!)

浮點數也就是小數，基本的運算也包含加減乘除，也能夠取餘數 :

In [10]:
1.2 + 2

3.2

In [11]:
1.2e2 - 10

110.0

In [12]:
3.2 / 1.1

2.909090909090909

In [13]:
4.2 % 3.2

1.0

    我們發現，浮點數運算的結果會是浮點數，即使是跟整數一同運算，返回值依然會是浮點數，這是因為Python預設會用比較精確的資料型態，來做為運算的結果。

   浮點數也支援科學記號，$1.2e^2$代表的是 : 1.2乘以10的平方，也就是120，減掉10之後結果當然是110.0

### 3.2 字串 (String)
    我們稱任何一個符號叫做字元，而字元的序列叫做字串，請看以下範例 :

In [14]:
string = ''
string_a = 'h'
string_b = 'ello'

In [15]:
string_a + string_b

'hello'

''(沒有內容的字串稱為"空字串")、'h'、'ello'、'hello'都是字串，字串必須以成對的引號刮住，例如'hello'、"hello"是一樣的。
這個機制可以方便我們寫出含有引號的字串如 :

In [16]:
string_c = "it's a good day!"
string_d = 'My name is "dokelung".'

In [17]:
string_c

"it's a good day!"

In [18]:
string_d

'My name is "dokelung".'

而加號對於字串型態而言並非加法，而是串接，所以string_a + string_b的結果是'hello'。

## 3.3 清單(List)
    清單，它是一個序列，我們能夠存放任何型態的資料在我們的清單中 :

In [19]:
list_1 =['統一期貨',35,string_d]

清單的特徵是中括號內可以放任意數量的元素，彼此以逗號(,)隔開。

list_1這個清單長度是3，有三個元素，第一個元素是一個字串，第二個元數是整數，第三個是上一小節的變數，若我們想要取出這些元素，可以這樣做 :

In [20]:
list_1[0]

'統一期貨'

In [21]:
list_1[1]

35

In [22]:
list_1[-1]

'My name is "dokelung".'

如果想要取出清單的一部份(子清單) ，也可以這樣操作 :

In [23]:
list_1[1:]

[35, 'My name is "dokelung".']

也可以輕易地凱便清單中的元素 :

In [24]:
list_1[1] = 1000

In [25]:
list_1

['統一期貨', 1000, 'My name is "dokelung".']

## 3.4 清單的好處
比如說我們要記錄班上同學的成績
   
不使用清單的情況 :

In [26]:
score_1 = 90
score_2 = 99
score_3 = 45
score_4 = 63

這樣的做法雖然沒錯，但是當要記錄的數量一多，不知道要撰寫多少個變數才夠，相反的可以使用清單 :

In [27]:
score = [90,99,45,63]

減少變數數量是使用清單的好處

接著來算算看成績總和，如果不用清單 :

In [28]:
total_1 = score_1 + score_2 +score_3 +score_4

In [29]:
total_1

297

會發現由於變數繁多，必須花大量時間跟空間寫出變數名稱。

In [30]:
total_2 = sum(score)

In [31]:
total_2

297

很簡單的透過sum這個函式，就能加總score這個清單中所有的元素了 !

## 4. 流程控制
通常我們的程式，會被Python由上而下地執行，但是常常會碰到需改變這種單調流程的時候，這時候我們就需要控制流程的方法，也就是本節要說明的主題。
### 4.1 有條件的運算
首先，最常見需要控制的場合會出現在有條件的運算上，例如說我們想要用月份判定季節 :

    如果 3<= month <=5的話
        print('現在是春季')
我們發現並不是所有的情形都需要印出'現在是春季'，只有當某些條件滿足時，該行才被執行，如果程式只能由上而下執行，就無法完成這個目標，所以我們需要能夠進行有條件的運算，**如果**這個字就是重點，只是我們用英文的 **if** :

In [32]:
month = 5

In [33]:
if 3<= month <= 5:
    print('現在是春季')

現在是春季

**if** 的用法就是這麼簡單，不過整個 **if** 的文法還有幾點要好好說明 :

    if 條件 :
        區塊程式碼
在 **if** 的後面需要緊跟著一個條件，條件後要加上冒號，若該條件成立(True)，則下方的程式碼將會被執行，否則會略過往下執行程式。

屬於該 **if** 的區塊程式碼，每一行都要以相同的縮排陳列，一但縮排不一致，將會導致程式執行錯誤 :

In [34]:
month = 6

In [35]:
if 3<= month <= 5:
    print('現在是春季')
    print('一年之計在於春')
print('這裡在if區塊之外')

這裡在if區塊之外

有時候條件不會這麼簡單，這時就可以搭配 **else** ，當 **if** 條件成立，屬於 **else** 的區塊不會被執行，反之亦然。

In [36]:
month = 4

In [37]:
if 3<= month <= 5:
    print('現在是春季')
else:
    print('現在不是春季')

現在是春季

### 4.2 重複的運算
有時候，我們會想要重複多次運算，畢竟多次撰寫一樣的運算是蠻浪費時間的，比如說我們想要從1加到10，可以這樣做 :

In [38]:
_sum = 1
_sum = _sum +2
_sum = _sum +3
_sum = _sum +4
_sum = _sum +5
_sum = _sum +6
_sum = _sum +7
_sum = _sum +8
_sum = _sum +9
_sum = _sum +10

In [39]:
_sum

55

這樣重複的動作式非常浪費時間的事情，因此我們會想要用迴圈來讓我們輕易做到重覆，讓我們試試 **for** :

In [40]:
num = 0
for i in range(1,11):
    num = num + i

In [41]:
num

55

In [42]:
i = range(1,11)
i

range(1, 11)

In [43]:
list(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
num = 0
for i in range(1,11):
    num = num + i
    print('i =',i,'   num = ',num)

i = 1    num =  1
i = 2    num =  3
i = 3    num =  6
i = 4    num =  10
i = 5    num =  15
i = 6    num =  21
i = 7    num =  28
i = 8    num =  36
i = 9    num =  45
i = 10    num =  55

### 學會Python基本的語法後，接下來講解如何透過Python的套件快速的抓取期交所檔案，並處理成需要的報表。



#### python 中最重要的套件之一就是 pandas，在資料處理上提供非常多函式使用，礙於上課時間有限沒辦法介紹，課後需要自學請參照 :

　　[pandas 基本功能 學習網站(一)](https://medium.com/jameslearningnote/%E8%B3%87%E6%96%99%E5%88%86%E6%9E%90-%E6%A9%9F%E5%99%A8%E5%AD%B8%E7%BF%92-%E7%AC%AC2-3%E8%AC%9B-pandas-%E5%9F%BA%E6%9C%ACfunction%E4%BB%8B%E7%B4%B9-series-dataframe-selection-grouping-447a3fa90b60)

　　[pandas 基本功能 學習網站(二)](http://violin-tao.blogspot.com/2017/06/pandas-1-indexing.html)

python的好處之一在於網路上的學習資源豐富，自學時遇到不知道怎麼做的時候，可以善用google搜尋，如 :
　

　　[python 爬蟲](https://www.google.com/search?q=python+%E7%88%AC%E8%9F%B2&rlz=1C1GCEU_zh-TWTW841TW841&oq=python+%E7%88%AC%E8%9F%B2&aqs=chrome..69i57j0l5.232j0j7&sourceid=chrome&ie=UTF-8)　 [pandas 篩選](https://www.google.com/search?q=pandas+%E7%AF%A9%E9%81%B8&rlz=1C1GCEU_zh-TWTW841TW841&oq=pandas+%E7%AF%A9%E9%81%B8&aqs=chrome..69i57j69i61.358j0j7&sourceid=chrome&ie=UTF-8)　[pandas 刪除欄名](https://www.google.com/search?q=pandas+%E5%88%AA%E9%99%A4%E6%AC%84%E5%90%8D&rlz=1C1GCEU_zh-TWTW841TW841&oq=pandas+%E5%88%AA%E9%99%A4%E6%AC%84%E5%90%8D&aqs=chrome..69i57.6599j0j9&sourceid=chrome&ie=UTF-8)
  　

有時候中文搜尋不到答案，就要試著用英文搜尋 :
　

　　[pandas to csv](https://www.google.com/search?rlz=1C1GCEU_zh-TWTW841TW841&ei=naIJXYbHC8G3mAXV_p3QDw&q=pandas+to+csv&oq=pandas+to+csv&gs_l=psy-ab.3..0l10.4640.5712..5960...0.0..0.68.162.3......0....1..gws-wiz.......0i71j0i7i30j0i13.xv4nYa43LHs)　[pandas resample](https://www.google.com/search?q=pandas+resample&rlz=1C1GCEU_zh-TWTW841TW841&oq=pandas+resample&aqs=chrome..69i57j69i61j0l4.7238j0j7&sourceid=chrome&ie=UTF-8)

首先引入三個套件 **numpy(數學運算)**、 **pandas(python中的excel)**、**datetime(時間處理)** ，並透過 **as** 將套件名稱縮寫，方便調用與保持程式碼簡潔。

In [45]:
import numpy as np 
import pandas as pd
import datetime

創建 **url** 變數來儲存期交所更新檔案的下載連結。

In [46]:
#檔案網址
url = 'http://www.taifex.com.tw/cht/7/getFCMFile?filename=Daily_FUT_day.csv'

創建 **today** 變數儲存當天日期，再利用 **strftime()** 函數將回傳值轉成我們要的格式。

In [47]:
today = datetime.datetime.today().strftime('%Y%m%d')
today = '20190618'

創建 **csv** 變數儲存下載的檔案

In [69]:
csv = pd.read_csv(url,encoding='big5',header=None) 
csv.head(8)

,0,1,2,3,4,5,6,7,8,9,...,208,209,210,211,212,213,214,215,216,217
0,期貨商代號,名稱,GBF,MTX,T5F,TE,TF,TX,GDF,XIF,...,TJF,I5F,XEF,XJF,UDF,SPF,XBF,XAF,BRF,小計
1,Date,NaN,20190603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F021000,元大期貨,0,47489,0,3162,1186,56502,0,96,...,39,1,63,86,1013,77,107,4,1,125186
3,F004000,凱基期貨,0,59881,9,1880,637,64925,0,2,...,25,0,0,16,113,11,0,0,1,84129
4,F020000,群益期貨,0,19302,30,452,120,17456,0,0,...,119,12,1,0,348,99,0,0,3,55208
5,F002000,永豐期貨,0,11567,1,297,65,10494,12,4,...,6,0,0,2,97,10,0,1,0,24617
6,F008000,統一期貨,0,9293,0,165,38,8041,0,1,...,0,0,0,0,59,1,0,0,2,18013
7,F026000,富邦期貨,0,6413,0,171,57,15613,0,1,...,6,0,0,0,73,5,0,1,1,24747

調用 **numpy** 套件內的 **where** 函數，可以回傳所要搜尋的目標位址，並儲存至 **whereToday** 變數當中

In [49]:
#抓取日期所在座標
whereToday=np.where(csv==today)
whereToday

(array([61], dtype=int64), array([26], dtype=int64))

雖然拿到目標日期在excel中在第幾行第幾列，但是它被包在兩層結構裡面，不容易使用

所以這裡再新增一個 **todayIndex** 變數，儲存被包起來的數字

In [50]:
todayIndex=[whereToday[0][0],whereToday[1][0]]
todayIndex

[61, 26]

有了目標的位置之後，接著就要來去除多餘的資料欄位了。

首先是利用 **drop()** 函數，來刪除多餘的列，當需要刪除單一列的時候可以輸入整數如 **drop(5)** 來刪除指定數列

但是當需要刪除複數列的時候，則需要把數字裝入 **list** 中輸入，如 **drop(list(1,2,3,4))** 。

接著我們新增csv2變數，用來儲存刪除上方多餘欄位後的資料。

In [70]:
csv2=csv.drop(list(range(todayIndex[0]-1))).reset_index(drop=True)
csv2.head(8)

,0,1,2,3,4,5,6,7,8,9,...,208,209,210,211,212,213,214,215,216,217
0,期貨商代號,名稱,GBF,MTX,T5F,TE,TF,TX,GDF,XIF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date,NaN,20190617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F021000,元大期貨,0,40199,0,2484,2029,82570,0,99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F004000,凱基期貨,0,48849,17,1123,481,45646,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F020000,群益期貨,0,15656,46,906,1064,24189,0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,F002000,永豐期貨,0,8660,44,274,129,9787,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,F008000,統一期貨,0,8112,0,285,45,10544,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,F026000,富邦期貨,0,6347,0,360,113,17933,0,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

再新增一個code變數，先把期貨商代號和名稱儲存下來。

In [71]:
code=csv2.iloc[2:,:2].reset_index(drop=True)
code.head(8)

         0       1
0  F021000    元大期貨
1  F004000    凱基期貨
2  F020000    群益期貨
3  F002000    永豐期貨
4  F008000    統一期貨
5  F026000    富邦期貨
6  S980999  元大證券自營
7  F029000    康和期貨

利用 **padndas** 的 **columns** 屬性，修改資料表的欄位名稱。

In [72]:
code.columns=['code','name']
code.head(8)

      code    name
0  F021000    元大期貨
1  F004000    凱基期貨
2  F020000    群益期貨
3  F002000    永豐期貨
4  F008000    統一期貨
5  F026000    富邦期貨
6  S980999  元大證券自營
7  F029000    康和期貨

刪除期貨商代號的資料後，將資料重新存回 **csv2** 。

In [73]:
csv2=csv2.iloc[:,1:]
csv2.head(8)

,1,2,3,4,5,6,7,8,9,10,...,208,209,210,211,212,213,214,215,216,217
0,名稱,GBF,MTX,T5F,TE,TF,TX,GDF,XIF,GTF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,20190617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,元大期貨,0,40199,0,2484,2029,82570,0,99,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,凱基期貨,0,48849,17,1123,481,45646,0,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,群益期貨,0,15656,46,906,1064,24189,0,6,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,永豐期貨,0,8660,44,274,129,9787,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,統一期貨,0,8112,0,285,45,10544,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,富邦期貨,0,6347,0,360,113,17933,0,8,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

將資料表的 **index** 改成期貨商名稱

In [74]:
csv2.index=csv2.iloc[:,0]
csv2.head(8)

,1,2,3,4,5,6,7,8,9,10,...,208,209,210,211,212,213,214,215,216,217
1,,,,,,,,,,,,,,,,,,,,,
名稱,名稱,GBF,MTX,T5F,TE,TF,TX,GDF,XIF,GTF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,20190617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
元大期貨,元大期貨,0,40199,0,2484,2029,82570,0,99,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
凱基期貨,凱基期貨,0,48849,17,1123,481,45646,0,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
群益期貨,群益期貨,0,15656,46,906,1064,24189,0,6,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
永豐期貨,永豐期貨,0,8660,44,274,129,9787,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
統一期貨,統一期貨,0,8112,0,285,45,10544,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
富邦期貨,富邦期貨,0,6347,0,360,113,17933,0,8,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

刪除左側不需要的資料。

In [75]:
csv3=csv2.iloc[:,todayIndex[1]-1:]
csv3.head(8)

,26,27,28,29,30,31,32,33,34,35,...,208,209,210,211,212,213,214,215,216,217
1,,,,,,,,,,,,,,,,,,,,,
名稱,GBF,MTX,T5F,TE,TF,TX,GDF,XIF,GTF,TGF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,20190618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
元大期貨,0,28934,0,1945,725,49655,0,112,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
凱基期貨,0,38641,11,1038,458,32235,0,7,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
群益期貨,0,11392,36,275,223,29947,0,14,2,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
永豐期貨,0,7789,30,305,112,8513,0,6,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
統一期貨,0,6272,0,99,25,5451,0,1,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
富邦期貨,0,4618,0,225,116,7289,6,2,0,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

回傳小計的位址，作為當日資料的右邊界。

In [57]:
whereCount=np.where(csv3=='小計')
countIndex=[whereCount[0][0],whereCount[1][0]]

刪除右側多餘資料，且刪除有NaN的行。

In [76]:
csv3=csv3.iloc[:,:countIndex[1]].dropna()
csv3.head(8)

,26,27,28,29,30,31,32,33,34,35,...,39,40,41,42,43,44,45,46,47,48
1,,,,,,,,,,,,,,,,,,,,,
名稱,GBF,MTX,T5F,TE,TF,TX,GDF,XIF,GTF,TGF,...,RTF,TJF,I5F,XEF,XJF,UDF,SPF,XBF,XAF,BRF
元大期貨,0,28934,0,1945,725,49655,0,112,0,9,...,54,37,0,366,111,256,18,393,58,34
凱基期貨,0,38641,11,1038,458,32235,0,7,1,4,...,0,102,1,0,0,88,0,0,1,1
群益期貨,0,11392,36,275,223,29947,0,14,2,27,...,0,554,3,6,82,157,3,50,25,1
永豐期貨,0,7789,30,305,112,8513,0,6,2,2,...,102,11,1,366,663,80,1,911,359,32
統一期貨,0,6272,0,99,25,5451,0,1,0,4,...,1,10,0,2,0,44,2,0,0,1
富邦期貨,0,4618,0,225,116,7289,6,2,0,32,...,0,20,0,6,0,76,0,1,1,0
元大證券自營,0,5380,0,149,112,4188,3,57,0,50,...,0,238,0,102,671,391,0,257,506,12

再一次利用 **columns** 屬性，將原本是數字的欄名改為商品名稱

In [77]:
csv3.columns=csv3.iloc[0,:]
csv3.head(8)

名稱,GBF,MTX,T5F,TE,TF,TX,GDF,XIF,GTF,TGF,...,RTF,TJF,I5F,XEF,XJF,UDF,SPF,XBF,XAF,BRF
1,,,,,,,,,,,,,,,,,,,,,
名稱,GBF,MTX,T5F,TE,TF,TX,GDF,XIF,GTF,TGF,...,RTF,TJF,I5F,XEF,XJF,UDF,SPF,XBF,XAF,BRF
元大期貨,0,28934,0,1945,725,49655,0,112,0,9,...,54,37,0,366,111,256,18,393,58,34
凱基期貨,0,38641,11,1038,458,32235,0,7,1,4,...,0,102,1,0,0,88,0,0,1,1
群益期貨,0,11392,36,275,223,29947,0,14,2,27,...,0,554,3,6,82,157,3,50,25,1
永豐期貨,0,7789,30,305,112,8513,0,6,2,2,...,102,11,1,366,663,80,1,911,359,32
統一期貨,0,6272,0,99,25,5451,0,1,0,4,...,1,10,0,2,0,44,2,0,0,1
富邦期貨,0,4618,0,225,116,7289,6,2,0,32,...,0,20,0,6,0,76,0,1,1,0
元大證券自營,0,5380,0,149,112,4188,3,57,0,50,...,0,238,0,102,671,391,0,257,506,12

成功修改欄名之後，利用 **drop()** 函數刪除 **'名稱'** 欄，並且透過 **reset_index()** 重置 **index**

In [78]:
csv3=csv3.drop('名稱').reset_index(drop=True)
csv3.head(8)

名稱,GBF,MTX,T5F,TE,TF,TX,GDF,XIF,GTF,TGF,...,RTF,TJF,I5F,XEF,XJF,UDF,SPF,XBF,XAF,BRF
0,0,28934,0,1945,725,49655,0,112,0,9,...,54,37,0,366,111,256,18,393,58,34
1,0,38641,11,1038,458,32235,0,7,1,4,...,0,102,1,0,0,88,0,0,1,1
2,0,11392,36,275,223,29947,0,14,2,27,...,0,554,3,6,82,157,3,50,25,1
3,0,7789,30,305,112,8513,0,6,2,2,...,102,11,1,366,663,80,1,911,359,32
4,0,6272,0,99,25,5451,0,1,0,4,...,1,10,0,2,0,44,2,0,0,1
5,0,4618,0,225,116,7289,6,2,0,32,...,0,20,0,6,0,76,0,1,1,0
6,0,5380,0,149,112,4188,3,57,0,50,...,0,238,0,102,671,391,0,257,506,12
7,0,7024,0,36,20,6690,0,0,0,28,...,0,7,0,0,0,60,1,0,3,0

重置 **index** 的目的，就是要把一開始儲存在 **code** 變數裡的期貨商代號、名稱，透過一樣的 **index(順序)** 合併。

In [79]:
csv3['code']=code.code
csv3['name']=code.name
csv3.head(8)

名稱,GBF,MTX,T5F,TE,TF,TX,GDF,XIF,GTF,TGF,...,I5F,XEF,XJF,UDF,SPF,XBF,XAF,BRF,code,name
0,0,28934,0,1945,725,49655,0,112,0,9,...,0,366,111,256,18,393,58,34,F021000,元大期貨
1,0,38641,11,1038,458,32235,0,7,1,4,...,1,0,0,88,0,0,1,1,F004000,凱基期貨
2,0,11392,36,275,223,29947,0,14,2,27,...,3,6,82,157,3,50,25,1,F020000,群益期貨
3,0,7789,30,305,112,8513,0,6,2,2,...,1,366,663,80,1,911,359,32,F002000,永豐期貨
4,0,6272,0,99,25,5451,0,1,0,4,...,0,2,0,44,2,0,0,1,F008000,統一期貨
5,0,4618,0,225,116,7289,6,2,0,32,...,0,6,0,76,0,1,1,0,F026000,富邦期貨
6,0,5380,0,149,112,4188,3,57,0,50,...,0,102,671,391,0,257,506,12,S980999,元大證券自營
7,0,7024,0,36,20,6690,0,0,0,28,...,0,0,0,60,1,0,3,0,F029000,康和期貨

整理好需要的資料表後，接著要進行轉置的處理

首先利用 **set_index()** 函數，將代號與名稱設成 **index** 。

In [80]:
csv4 = csv3.set_index(keys = ['code','name']) 
csv4.head(8)

,名稱,GBF,MTX,T5F,TE,TF,TX,GDF,XIF,GTF,TGF,...,RTF,TJF,I5F,XEF,XJF,UDF,SPF,XBF,XAF,BRF
code,name,,,,,,,,,,,,,,,,,,,,,
F021000,元大期貨,0,28934,0,1945,725,49655,0,112,0,9,...,54,37,0,366,111,256,18,393,58,34
F004000,凱基期貨,0,38641,11,1038,458,32235,0,7,1,4,...,0,102,1,0,0,88,0,0,1,1
F020000,群益期貨,0,11392,36,275,223,29947,0,14,2,27,...,0,554,3,6,82,157,3,50,25,1
F002000,永豐期貨,0,7789,30,305,112,8513,0,6,2,2,...,102,11,1,366,663,80,1,911,359,32
F008000,統一期貨,0,6272,0,99,25,5451,0,1,0,4,...,1,10,0,2,0,44,2,0,0,1
F026000,富邦期貨,0,4618,0,225,116,7289,6,2,0,32,...,0,20,0,6,0,76,0,1,1,0
S980999,元大證券自營,0,5380,0,149,112,4188,3,57,0,50,...,0,238,0,102,671,391,0,257,506,12
F029000,康和期貨,0,7024,0,36,20,6690,0,0,0,28,...,0,7,0,0,0,60,1,0,3,0

接著使用 **stack()**函數來轉置資料。


##### stack() 會將列名轉置為新的index，並將整個 DataFrame 轉換成序列 (Series)

In [81]:
csv4 = csv4.stack() #.reset_index()
csv4.head(8)

code     name  名稱
F021000  元大期貨  GBF        0
               MTX    28934
               T5F        0
               TE      1945
               TF       725
               TX     49655
               GDF        0
               XIF      112
dtype: object

再來就是見證奇蹟的時刻了。

In [82]:
csv4 = csv4.reset_index()
csv4.head(8)

      code  name   名稱      0
0  F021000  元大期貨  GBF      0
1  F021000  元大期貨  MTX  28934
2  F021000  元大期貨  T5F      0
3  F021000  元大期貨   TE   1945
4  F021000  元大期貨   TF    725
5  F021000  元大期貨   TX  49655
6  F021000  元大期貨  GDF      0
7  F021000  元大期貨  XIF    112

In [83]:
csv4.columns=['code','name','symbol','number'] 
csv4.head(8)

      code  name symbol number
0  F021000  元大期貨    GBF      0
1  F021000  元大期貨    MTX  28934
2  F021000  元大期貨    T5F      0
3  F021000  元大期貨     TE   1945
4  F021000  元大期貨     TF    725
5  F021000  元大期貨     TX  49655
6  F021000  元大期貨    GDF      0
7  F021000  元大期貨    XIF    112

加上當天的時間欄位。

In [84]:
csv4['date']=today
csv4.head(8)

      code  name symbol number      date
0  F021000  元大期貨    GBF      0  20190618
1  F021000  元大期貨    MTX  28934  20190618
2  F021000  元大期貨    T5F      0  20190618
3  F021000  元大期貨     TE   1945  20190618
4  F021000  元大期貨     TF    725  20190618
5  F021000  元大期貨     TX  49655  20190618
6  F021000  元大期貨    GDF      0  20190618
7  F021000  元大期貨    XIF    112  20190618

最後將資料重新排順序，就完成了。

In [86]:
result=csv4[['date','code','name','symbol','number']]
result

          date     code    name symbol number
0     20190618  F021000    元大期貨    GBF      0
1     20190618  F021000    元大期貨    MTX  28934
2     20190618  F021000    元大期貨    T5F      0
3     20190618  F021000    元大期貨     TE   1945
4     20190618  F021000    元大期貨     TF    725
5     20190618  F021000    元大期貨     TX  49655
6     20190618  F021000    元大期貨    GDF      0
7     20190618  F021000    元大期貨    XIF    112
8     20190618  F021000    元大期貨    GTF      0
9     20190618  F021000    元大期貨    TGF      9
10    20190618  F021000    元大期貨    STF  35074
11    20190618  F021000    元大期貨    ETF   9724
12    20190618  F021000    元大期貨    RHF     35
13    20190618  F021000    元大期貨    RTF     54
14    20190618  F021000    元大期貨    TJF     37
15    20190618  F021000    元大期貨    I5F      0
16    20190618  F021000    元大期貨    XEF    366
17    20190618  F021000    元大期貨    XJF    111
18    20190618  F021000    元大期貨    UDF    256
19    20190618  F021000    元大期貨    SPF     18
20    20190618  F021000    元大期貨    XBF    393
21    20190618  F021000    元大期貨    XAF     58
22    20190618  F021000    元大期貨    BRF     34
23    20190618  F004000    凱基期貨    GBF      0
24    20190618  F004000    凱基期貨    MTX  38641
25    20190618  F004000    凱基期貨    T5F     11
26    20190618  F004000    凱基期貨     TE   1038
27    20190618  F004000    凱基期貨     TF    458
28    20190618  F004000    凱基期貨     TX  32235
29    20190618  F004000    凱基期貨    GDF      0
...        ...      ...     ...    ...    ...
1304  20190618  F002999  永豐期貨自營    XEF      0
1305  20190618  F002999  永豐期貨自營    XJF      0
1306  20190618  F002999  永豐期貨自營    UDF      0
1307  20190618  F002999  永豐期貨自營    SPF      0
1308  20190618  F002999  永豐期貨自營    XBF      0
1309  20190618  F002999  永豐期貨自營    XAF      0
1310  20190618  F002999  永豐期貨自營    BRF      0
1311  20190618  F005999  國票期貨自營    GBF      0
1312  20190618  F005999  國票期貨自營    MTX      8
1313  20190618  F005999  國票期貨自營    T5F      0
1314  20190618  F005999  國票期貨自營     TE      4
1315  20190618  F005999  國票期貨自營     TF      0
1316  20190618  F005999  國票期貨自營     TX      4
1317  20190618  F005999  國票期貨自營    GDF      0
1318  20190618  F005999  國票期貨自營    XIF      0
1319  20190618  F005999  國票期貨自營    GTF      0
1320  20190618  F005999  國票期貨自營    TGF      0
1321  20190618  F005999  國票期貨自營    STF     10
1322  20190618  F005999  國票期貨自營    ETF      0
1323  20190618  F005999  國票期貨自營    RHF      0
1324  20190618  F005999  國票期貨自營    RTF      0
1325  20190618  F005999  國票期貨自營    TJF      0
1326  20190618  F005999  國票期貨自營    I5F      0
1327  20190618  F005999  國票期貨自營    XEF      0
1328  20190618  F005999  國票期貨自營    XJF      0
1329  20190618  F005999  國票期貨自營    UDF      0
1330  20190618  F005999  國票期貨自營    SPF      0
1331  20190618  F005999  國票期貨自營    XBF      0
1332  20190618  F005999  國票期貨自營    XAF      0
1333  20190618  F005999  國票期貨自營    BRF      0

[1334 rows x 5 columns]